
/* Using non-default font, 
notice this won't be good enough for cross-browser support*/
@font-face {
    font-family: 'Kirby-nnGM';
    src: url('/static/font/Kirby-nnGM.ttf');
}

/* customized body, card */
body {
 background: url('/static/pics/dark.jpeg') no-repeat center center fixed;
background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Kirby-nnGM';
  font-size: 14px;
}
h1 {
  font-size: 35px;
}

.header{
 height: 100px;
}
.card{
  background-color:rgb(116, 45, 51);
  color: white;
}
.maininfo {
  color: rgb(244, 217, 217);
  background-color: rgba(192, 79, 109, 0.6);
  font-size: 16px;
}

/* customized navigation bar */
.sidebar {font-size: 30px;}
.nav-link { color: #a46a6a;
font-size: 25px;}
.nav-link:hover { color: #fff;
    font-size: 25px;
}

/* customized position, use this as a class */
.center{
  margin-left: auto;
  margin-right: auto;
  width:70%;
}
/* customized bottons */
.btn-primary{
border-color: #fff;
}

.btn-outline-info:hover {
    color: #fff;
    background-color:#C75100;
    border-color: #C75100;
}

.btn-primary:hover{
    background-color: rgb(199, 81,0);
    border-color: white;
    color:black;
}
.btn:focus{
  border-color:white;
}

/* customized links */
a:link {
  color: rgb(199, 81,0);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(147, 106, 130);
  background-color: transparent;
  text-decoration: none;
}

/* customized forms */
.form-control{
  background-color: rgba(199,199,188,0.4);
  box-shadow: 0 1px 1px yellow inset, 0 0 8px red;
  outline: 0 none;
}