{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
					<div class="card">
					  <div class="card-header">
						<i><b>Kirby thinks you are an amazing person and they are grateful that you exist.
                            </div>
					  <div class="card-body">
						<blockquote class="blockquote mb-0">
						  <p> Vent. <br> Scream to the void. <br>Blow off some steam. </b></i>
                          </br>
							  </p>
						  <footer class="blockquote-footer"></footer>
						</blockquote>
					  </div>
					</div>
					<br>
					<h6>By: Marlene Lin</h6>
					<h6>ins: @m.lin01</h6>
					<br>

{% endblock %}